<%if (title == "About") { %>
     <p>My name is <strong>Omar Khesruf</strong>.</p>
     
             <div class="row mb-3">
               <div class="col-md-8 themed-grid-col">I am studying <strong>Software Engineering Technology</strong> at Centennial College</div>
               <div class="col-md-7 themed-grid-col">I have a bachelor degree in agricultural science from Egypt</div>
               <div class="col-md-6 themed-grid-col">Becuse of my passion for learning new things and my love to the technology, i decided to start my shifting career journey. Since then I never stop learning and coding. Now i have good skills in Html, JavaScript, CSS, Java and C#. I will keep learning becuse this field makes me feel so good especially when I finish coding. Now in my journey I am in point of searching for an apportunity to do my COOP work term with a senior experienced devlopers at any IT company to learn from their knowledge and experince.</div>

               <div class="col-md-4 themed-grid-col"><img src="/Assets/images/me.jpg" alt="omar" width="250" ></div>
             </div>
             <p>To follow up with me👉 <a href="/Assets/resume Omar.pdf">This is my Resume</a>.</p>
             <br>
             <br>
        
     <% } %>