<!-- Bottom Nav -->
  <footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-text">
        &copy; Copyright 2021. All Rights reserved.
      </span>
    </div>
  </nav>
</footer>