<%if (title == "Home") { %>
     <div class="px-3">
     <h1>My Mission Statement:</h1>
       <p class="lead">Family isn’t just an important thing, it’s everything.</p>
       <p class="lead">Make change and diffrence in the world</p>
       <p class="lead">Be helpful to the all humanity</p>
       <p class="lead">Be better person</p>
       <p class="lead">Keep learning and improving my skills</p>
       <p class="lead">Be better devloper</p>
       <p class="lead">Learn new software languages</p>
       <p class="lead">Learn and learn and keep learning</p>
       

       <p class="lead">
         <a href="/About" class="btn btn-lg btn-secondary fw-bold border-#f56f95 bg-#f56f95">About me</a>
         <a href="/Contact" class="btn btn-lg btn-secondary fw-bold border-#f56f95 bg-#f56f95">Contact me</a>
       </p>

     </div>
     <br>
     <br>
     <br>
             
     <% } %>