<%if (title == "Services") { %>
     <p>In this page you can see the<strong> Services</strong> that I can offer:</p>
     <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text"><img src="/Assets/images/htmlcssjs.png" alt="htmlcssjs" width="100" class="d-inline-block align-text-center"> Design simple personal page using Html, Css and JavaScript</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><a href="/Contact">Please contact me for more information</a></small>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text"><img src="/Assets/images/appdev.png" alt="appdev" width="100" class="d-inline-block align-text-center"> Create and devlope simple Android Apps</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><a href="/Contact">Please contact me for more information</a></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text"><img src="/Assets/images/WebDev.png" alt="appdev" width="100" class="d-inline-block align-text-center">Devlope web Applications</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><a href="/Contact">Please contact me for more information</a></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">

            <div class="card-body">
              <p class="card-text"><img src="/Assets/images/java.png" alt="java" width="100" class="d-inline-block align-text-center">Use Java EE to devlope web Apps</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><a href="/Contact">Please contact me for more information</a></small>
              </div>
            </div>
          </div>
          <br>
          <br>
        </div>
        
     <% } %>